@charset "ISO-8859-1";
body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #BB9AB1,#EECEB9);
    flex-direction: column;
    
}
.button
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 150px;
    margin: 5px;
    
    background-color: rgba(132, 0, 255, 0.321);
    color: rgb(248, 244, 222);
    font-size: 13px;
    
}
#main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 350px; */
    width: 400px;
    /* border: 2px solid white; */
    background-color: rgba(18, 16, 16, 0.161);
    border-radius: 20px;
    box-shadow: 4px 4px 10px black,inset 1px 1px 5px white;
    padding: 30px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
caption
{
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: bolder;
}
a{
    font-size: 15px;
    text-decoration: none;
}

